<!DOCTYPE html>
<html>
  <head>
    <title>Uenishi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <li>
      <%= link_to '私たちの活動', ayumi_path %>
    </li>
  <header/>
    <%= yield %>
  </body>
</html>
